.back_calc {
    display: flex;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
    border: 1px solid teal;
    background-color: teal;
    width: 1200px;
    text-align: center;
}
.back_calc button {
    border: none;
    border-radius: 20px;

}
.back_calc button:hover {
    background-color: #00c8c8;
}
.calc_all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 150px;
}
.back_calc1 {
    display: flex;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid teal;
    background-color: teal;
    align-items: center;
    width: 1200px;
}
.but_calc {
    border: none;
    border-radius: 20px;

    cursor: pointer;
    background-color: teal;
    text-decoration: none;
}
.but_calc:hover {
    background-color: #00c8c8;
}