.news_obj a {
    text-decoration: none;
    color: white;
}
.news_obj h1 {
    text-decoration: none;
    color: white;
}

.news {
    width: 200px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.news a {
    border: 1px solid white ;
}
.news_place {
    margin-top: 50px;
}
.news_img {
    display: flex;
    justify-content: end;
}
.news_detail h2{
    border: 1px solid white;
    width: 500px;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
}
.news_detail a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}