@import "calc.css";
@import "subvision.css";
@import "news.css";

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav {
    color: red;
    display: flex;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    background-color: cornflowerblue;
}
.nav a {
    text-decoration: none;
    color: white;
    padding: 5px;
}
.log {
    display: flex;
    justify-content: center;
    color: white;
}
.log h1{
    color: white;
}
.login {
    display: flex;
    flex-direction: column;
}
.forml {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    margin-top: 50px;
}
.inlogn{
    padding: 5px;
}
.inlogn input{
    padding: 5px;
    width: 230px;
    height: 39px;
    border-radius: 20px;
    border: none;
}
.back_log {
    display: flex;
    padding: 30px;
    flex-direction: column;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.but_log {
    background: white;
    margin: 5px;
    border: 1px solid  white;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    height: 30px;
    width: 230px;

}
.but_logs {
    background: white;
    margin: 5px;
    border: 1px solid  white;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 1200px;
}
.but_logs:hover {
    background: cornflowerblue;
    margin: 5px;
    border: 1px solid  white;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.but_log:hover {
    background: #00c8c8;
    margin: 5px;
    border: 1px solid  white;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.fot_back{
    display: flex;
    box-sizing: border-box;
    background-color: cornflowerblue;
    color: white;
    padding: 5px;
    width: 100%;
    height: 78px;
    position: absolute;
    bottom: 0%;
}
.fot_Author {
    font-size: 10px;
    display: flex;
    flex-direction: column-reverse;
}
.inreg {
    padding: 5px;
}

.inreg input{
    padding: 5px;
    width: 230px;
    height: 39px;
    border-radius: 20px;
    border: none;
}
.back_add {
    display: flex;
    padding: 70px;
    flex-direction: column;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.adduser {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
}
.add_user {
    padding: 5px;
}
.add_user input{
    padding: 5px;
    width: 230px;
    height: 39px;
    border-radius: 20px;
    border: none;
}

.ad_user {
    display: flex;
    flex-direction: column;
}

.Error{
    margin-bottom: 15px;
    text-align: center;
    color: red;

}

.img_main {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;

}