.sub {
    padding: 50px;
    height: 521px;
    display: flex;
    justify-content: center;

}
.sub_all {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    border: 1px solid white;
    padding: 50px;
    margin-top: 50px;
    height: 300px;
    justify-content: center;
}
.sub_all a {
    padding: 5px;
    margin: 5px;
    border: 1px solid white;
    cursor: pointer;
    background-color: cornflowerblue;
    text-decoration: none  ;
    color: white;
}
.sub_all a:hover {
    padding: 5px;
    margin: 5px;
    border: 1px solid white;
    cursor: pointer;
    background-color: #00c8c8;
    text-decoration: none  ;
    color: white;
}
.sub_all a {
    padding: 5px;
    margin: 5px;
    border: 1px solid white;
    cursor: pointer;
    background-color: cornflowerblue;
    text-decoration: none  ;
    color: white;
    width: 200px;
    text-align: center;
}
 .sub_all h2 {
     padding: 5px;
     margin: 5px;
     border: 1px solid white;
     cursor: pointer;
     background-color: cornflowerblue;
     text-decoration: none  ;
     color: white;
     width: 300px;
 }

.sub_answer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.sub_answer h2 {
    padding: 5px;
    margin: 5px;
    border: 1px solid white;
    background-color: cornflowerblue;
    text-decoration: none  ;
    color: white;
}
.sub_answer a {
    display: flex;
    margin: 5px;
    justify-content: center;
}
.sub_obj   {
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
}

.nav_sub {
    color: red;
    display: flex;
    margin: 50px;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    background-color: cornflowerblue;

}
.nav_sub a {
    text-decoration: none;
    color: white;
    padding: 5px;
}
.img_room {
    width: 400px;
    height: 400px;
    margin-top: 60px;
    margin-right: 80px;
}
